section{
    padding: 50px 0;
}

.pagination a{
    margin:0 5px !important;
}

.btn-save-loading{
    width: 100% !important;
    display: none;;
}

.img_single{
    width: 100%;
}

.img_single .del_img{
    background: #673AB7;
    color: #FFF;
    text-align: center;
    padding: 3px;
    text-transform: uppercase;;
}